*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(15, 14, 14);
}

.spinner{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
   background: transparent;
}


.spin{
   
    width: 100px;
    height: 100px;
    
    border-radius: 50%;
    
    border: 4px solid pink;
    border-top: 4px transparent solid ;
    animate: ;
}

@keyframes ghumo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.buttons{
    display: flex;
    align-items: center;

}


.btn{
    background: rgba(56, 80, 92, 0.383);
    border: none; 
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 10px 20px ;
    border-radius: 4px;
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


@media {

}

.btn:hover{
    background: rgb(221, 221, 89);
    color: black;
}

button:focus{
    outline: none;
}
